html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  --pink: #ffa7c4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
body {
  --bg: #fff;
  --bg-secondary: #f9fafb;
  --header: var(--pink);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #6c6c80;
  --hr: rgba(0, 0, 0, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);

  background-color: var(--bg);
}
body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #282c35;
  --bg-secondary: #363c48;
  --header: #fff;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --textTitle: #fff;
  --textLink: #f4f4f4;
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}

body ::selection {
  background: var(--textLink);
  color: var(--pink);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand img {
  margin-bottom: 0.4rem;
}

.theme-toggle {
  position: fixed;
  right: 0.5rem;
  top: 1.8rem;
  cursor: pointer;
  color: var(--primaryText);
}

.footer-module--footer p {
  font-size: 14px;
  margin-top: 2rem;
  color: var(--header);
  text-align: center;
}

@media screen  and (min-width: 500px){
  .theme-toggle {
    right: 2rem;
    top: 1.2rem;
  }
  .footer-module--footer p {
    font-size: 16rem;
  }
}